	{% load static %}
	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="/"><img src="{% static 'images/aurora.jpg' %}" alt="" style="height:50px"></a></div>
						</div>
						<div class="footer_phone">+7 (4852) 68-33-96</div>
						<div class="footer_contact_text">
							<p> г. Ярославль,Ленинградский пр-т,<br> д. 27Б, стр. 2, оф. 1</p>
						</div>
					</div>
				</div>




				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Покупателям</div>
						<ul class="footer_list">
							<li><a href="{% url 'politic_conf' %}">Политика конфиденциальности</a></li>
							<li><a href="{% url 'service' %}">Сервис</a></li>
							<li><a href="{% url 'warranty' %}">Гарантия на товар</a></li>
							<li><a href="{% url 'credit' %}">Рассрочка</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>