
.about{
    text-align: left;
    margin: 50px;
}

.service{
    text-align: center;
    

}

#service_header{
    text-align: center;

}

.politics{
    margin:50px;

}

.warranty{
    margin: 50px;
}

.credit{
    margin: 50px;
}

.contact {
    text-align: center;
    margin: 50px;
}

.contact-map{
    text-align: center;
    
}

.search_product_count{
    text-align: center;
    margin-top: 50px;
}

.error_404{
    text-align: center;
}

.product_list{
    display: inline-block;
}

.product-list-search{
}