{% extends "index.html" %}
{% load static %}
{% block seo %}
<title></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
{% endblock seo %}
{% block content %}
<div class="about">
<h2> О компании </h2>
<br>
<img src="{% static 'images/logo.jpg' %}" alt="" style="height:300px;width:auto" >
<p>
 <span>Компания «ВОРТЕЙЛ ТЕХНОЛОДЖИ» является поставщиком оборудования для ремонта и обслуживания автомобилей. Мы предлагаем широкий спектр решений для задач любого уровня.Нам важен каждый клиент, от частной мастерской до дилерского центра. Наши специалисты готовы подключиться к проекту на любом его этапе – от стадии проектирования до стадии обслуживания. Мы желаем успехов и процветания Вам и Вашему бизнесу и сделаем все возможное чтобы Ваши дела шли как можно лучше.&nbsp; 
		</p>		
<p>

			Компания «ВОРТЕЙЛ ТЕХНОЛОДЖИ» работает по следующим направлениям: 
		</p>
		<ol>
			<li>Поставки оборудования для ремонта и обслуживания автомобилей.</li>
			<li>Монтаж и пуско-наладочные работы по оборудованию.</li>
			<li>Гарантийное и послегарантийное обслуживание оборудования.</li>
			<li>Проектирование и экономическое обоснование.</li>
			<li>Помощь в подборе дополнительных услуг в действующих предприятиях.</li>
			</ol>
</div>
{% endblock content%}