{% extends "index.html" %}

{% block seo %}
<title>Список товаров, представленных на нашем сайте.</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Продажа оборудования для автосервиса и шиномонтажа .Диагностическое оборудование для автосервиса и гаража с доставкой по всей России.">
{% endblock seo %}

{% block content %}
<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src=""></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Каталог</h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Категории</div>
							<ul class="sidebar_categories">
								{% for category in categories %}
								<li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
						<!--<div class="sidebar_section filter_by_section">
							<div class="sidebar_title">Сортировка по</div>
							<div class="sidebar_subtitle">Цене</div>
							<div class="filter_price">
								<div id="slider-range" class="slider_range"></div>
								<p>Range: </p>
								<p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
							</div>
						</div>-->
						<!--<div class="sidebar_section">
							<div class="sidebar_subtitle brands_subtitle">Brands</div>
							<ul class="brands_list">
								<li class="brand"><a href="#">Apple</a></li>
							</ul>
						</div>-->
					</div>

				</div>

				<div class="col-lg-9">

					<!-- Shop Content -->

					<div class="shop_content">
                        <div class="shop_bar clearfix">
							<div class="shop_product_count"><span>{{ products.paginator.count }}</span> товаров найдено</div>
							<!--<div class="shop_sorting">
								<span>Сортировать по:</span>
								<ul>
									<li>
										<span class="sorting_text">названию<i class="fas fa-chevron-down"></span></i>
										<ul>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>названию</li>
											<li class="shop_sorting_button"data-isotope-option='{ "sortBy": "product.get_sale" }'>цене</li>
										</ul>
									</li>
								</ul>
							</div>-->
						</div>


						<!--<div class="product_grid">
							<div class="product_grid_border"></div>
								{% for product in products %}
								<div class="product_item is_new">
									<div class="product_border"></div>
									<div class="product_image d-flex flex-column align-items-center justify-content-center"><a href="{{ product.get_absolute_url }}" tabindex="0"><img src="{{ product.image.url }}" alt="" style='height: 100px'></a></div>
									<div class="product_content">
										<div class="product_price">
										{% if product.discount_price %}
										Цена:<small><s>{{ product.price }}</s></small>
										{{ product.get_sale }}.руб
										{% else %}
										Цена: {{ product.price }}.руб
										{% endif %}
										</div>
										<div class="product_name"><p><a href="{{ product.get_absolute_url }}" tabindex="0">{{ product.name }}</a></p></div>
									</div>
								</div>
								{% endfor %}


						</div>-->
					<div class="product-list">
							<!-- List group-->
							{% for product in products %}
								<ul class="list-group shadow">
									<!-- list group item-->
									<li class="list-group-item">
										<!-- Custom content-->
										<div class="media align-items-lg-center flex-column flex-lg-row p-3">
											<div class="media-body order-2 order-lg-1">										
												<h5 class="mt-0 font-weight-bold mb-2"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
												<p class="font-italic text-muted mb-0 small"></p>
												<div class="d-flex align-items-center justify-content-between mt-1">
													<h6 class="font-weight-bold my-2">
													{% if product.discount_price %}
														Цена:<small><s>{{ product.price }}</s></small>
														{{ product.get_sale }}.руб
														<form action="{% url 'cart:cart_add' product.id %}" method="post">
															{% csrf_token %}
															<br>
															<p>Количество:{{ cart_product_form }}</p>
															<input type="submit" value="В корзину" id="update-button">
														</form>
													{% else %}
														Цена: {{ product.price }}.руб
														<form action="{% url 'cart:cart_add' product.id %}" method="post">
																{% csrf_token %}
																<br>
																<p>Количество:{{ cart_product_form }}</p>
																<input type="submit" value="В корзину" id="update-button">
														</form>
													{% endif %}</h6>											
												</div>
											</div>
											<img src="{{ product.image.url }}" alt="Generic placeholder image" style='height: 150px' class="ml-lg-5 order-1 order-lg-2"></a></p>										
										</div> <!-- End -->
									</li> <!-- End -->
								</ul>
							{% endfor %}
						</div>
					</div>


						<!-- Shop Page Navigation -->

						<div class="d-flex flex-column m-auto pagination mt-5">
							<nav aria-label="Page navigation">
								<ul class="pagination pg-grey justify-content-center">
										{% if products.has_previous %}
										<li class="page-item">
										<a class="page-link" href="?page={{ products.previous_page_number }}">&laquo; Предыдущая</a>
										</li>
										{% endif %}

										{% for i in products.paginator.page_range %}
											{% if products.number == i %}
											<li class="page-item active"><a class="page-link">{{ i }}</a></li>
											{% else %}
											<li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
										{% endif %}
										{% endfor %}
										{% if products.has_next %}
										<li class="page-item">
										<a class="page-link" href="?page={{ products.next_page_number }}">Следующая</a>
										</li>
										<li class="page-item">
										<a class="page-link"  href="?page={{ products.paginator.num_pages }}">Последняя &raquo;</a>
										</li>
										{% endif %}
								</ul>
							</nav>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock content %}