{% extends "index.html" %}

{% block seo %}
<title>Список товаров, представленных на нашем сайте.</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Продажа оборудования для автосервиса и шиномонтажа .Диагностическое оборудование для автосервиса и гаража с доставкой по всей России.">
{% endblock seo %}

{% block content %}
<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src=""></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Каталог</h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Категории</div>
							<ul class="sidebar_categories">
								{% for category in categories %}
								<li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
						<!--<div class="sidebar_section">
							<div class="sidebar_subtitle brands_subtitle">Brands</div>
							<ul class="brands_list">
								<li class="brand"><a href="#">Apple</a></li>
							</ul>
						</div>-->
					</div>

				</div>

				<div class="col-lg-9">

					<!-- Shop Content -->

					<div class="shop_content">
                        <div class="shop_bar clearfix">
							<div class="shop_product_count"><span>{{ products.paginator.count }}</span> товаров найдено</div>
							<div class="shop_sorting">
								<span>Сортировка по:</span>
								<ul>
									<li>
										<span class="sorting_text">возрастанию цены<i class="fas fa-chevron-down"></span></i>
										<ul>
											<li class="asc_sorting_button">возрастанию цены</li>
											<li class="desc_sorting_button">убыванию цены</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="product-list" >					
							{% for product in products %}
								<ul class="list-group shadow">
									<li class="list-group-item">
										<div class="media align-items-lg-center flex-column flex-lg-row p-3">
											<div class="media-body order-2 order-lg-1">
											<div class="product_name">										
												<h5 class="mt-0 font-weight-bold mb-2" ><a href="{{ product.get_absolute_url }}" >{{ product.name }}</a></h5>
											</div>
												<div class="d-flex align-items-center justify-content-between mt-1">
													<h6 class="font-weight-bold my-2">
													{% if product.discount_price %}
													<div class="product_price" data-sort="{{ product.get_sale }}">
														Цена:<small><s>{{ product.price }}</s></small>
														{{ product.get_sale }}.руб
													</div>
														<form action="{% url 'cart:cart_add' product.id %}" method="post">
															{% csrf_token %}
															<br>
															<p>Количество:{{ cart_product_form }}</p>
															<input type="submit" value="В корзину" id="update-button">
														</form>
													{% else %}
														{% if product.price == None or product.price == 0 %}
															Цена: Звоните!
														{% else %}
														<div class="product_price" data-sort="{{ product.price}}">
															Цена: {{ product.price }}.руб
														</div>
															<form action="{% url 'cart:cart_add' product.id %}" method="post">
																{% csrf_token %}
																<br>
																<p>Количество:{{ cart_product_form }}</p>
																<input type="submit" value="В корзину" id="update-button">
															</form>
														{% endif %}
													{% endif %}
													</h6>
													</div>											
											</div>
											<img src="{{ product.image.url }}" alt="Generic placeholder image" style='height: 150px' class="ml-lg-5 order-1 order-lg-2"></a></p>										
										</div> 
									</li>
								</ul>
							{% endfor %}
						</div>
					</div>

				{% include 'pagination.html' %}
				</div>

			</div>
			</div>
		</div>
	</div>
{% endblock content %}