{% extends "index.html" %}
{% block seo %}
<title>Техническое обслуживание и установка оборудования для автосервиса.</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Сервисная служба компании Вортейл Технолоджи  осуществляет  гарантийное и постгарантийное обслуживания автосервисного оборудования,а так же пусконаладочные работы.">
{% endblock seo %}
{% load static %}

{% block content %}
<div class="service">
<h1 id="service_header">Услуги</h1>
<br>
<h4>Поставка оборудования</h4>
<br>
<img src="{% static 'images/repair.png' %}" alt="" style="height:220px;width:auto" >
<p>
 <br>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">Производим ремонт и обслуживание автосервисного оборудования. Запчасти в наличии и под заказ, аналоги. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	1. Ремонт двухстоечных, четырёхстоечных, ножничных подъёмников. Троса в наличии или под заказ за 1 день. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	2. Ремонт, калибровка и проверка стендов сход-развала HUNTER и ТЕХНОВЕКТОР, ремонт камер к ним. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	3. Ремонт и калибровка балансировочных станков HOFMANN, SICE, CEMB, SICAM, SIVIK, TROMMELBERG. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	4. Ремонт шиномонтажных станков всех брендов, большой ассортимент запчастей в наличии. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	5. Калибровка, проверка и ремонт установок для заправки кондиционеров любой сложности. Все расходники. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	6. Ремонт гайковёртов KING TONY, JTC, LICOTA. Запчасти в наличии. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	7. Ремонт гидравлики: стойки трансмиссионные, подкатные домкраты, ямные подъёмники, траверсы. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	8. Ремонт профессионального инструмента RUPES, FESTOOL, MIRKA, оригинальные запчасти. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	9. Ремонт поршневых компрессоров FIAK, REMEZA, ATLAS COPCO, FINI, AIRCAST, АСО БЕЖЕЦК. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;">
	10. Обслуживание и ремонт винтовых компрессоров ATLAS COPCO, ABAC, DALGAKIRAN, АСО БЕЖЕЦК. </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> <span style="color: #00aeef;">&nbsp;&nbsp;&nbsp;&nbsp; Заявки и согласования на ремонт оборудования принимаются по телефону: (4852) 68-34-96, 90-33-96</span></span><span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span>
</p>
<p>
 <span style="font-size: 14pt; font-family: &quot;Times New Roman&quot;, Times; color: #00aeef;">&nbsp; &nbsp; &nbsp;E-mail:</span><span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt; color: #00aeef;"><a href="mailto:sales@vorteil-technology.ru">sales@vorteil-technology.ru</a></span>
</p>
<p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"><span style="color: #00aeef;"><br>
 </span></span>
</p>
<p>
 <br>
</p>
 <span style="font-family: &quot;Times New Roman&quot;, Times; font-size: 14pt;"> </span><br>
<h4>Монтаж оборудования</h4>
<br>
<img src="{% static 'images/montaj.jpg' %}" alt="" style="height:220px;width:auto" >
<br>
<p>Техническая группа "Вортейл Технолоджи" произведёт качественный монтаж и пуско-наладочные работы подъёмников, стендов развал-схождения, окрасочно-сушильных камер и шиномонтажного оборудования.<br> В гарантийных вопросах действует, в первую очередь, в интересах клиента используя незамедлительный принцип решения гарантийного случая.
</p>
<br>
<h4>Техническое обслуживание</h4>
<br>
<img src="{% static 'images/tech_supp.jpg' %}" alt="" style="height:220px;width:auto" >
<p>Техническая группа "Вортейл Технолоджи"  рекомендует проводить обслуживание <br>оборудования с целью уменьшения риска внезапного выхода из строя и сокращения издержек вызванных простоем.</p>
<br>
<p>Что мы предлагаем:</p>
<ul>
    <li>плановое техническое обслуживание ;</li>
    <li>текущий и срочный ремонт оборудования любой сложности, в кратчайшие сроки;</li>
    <li>имеем собственную производственную базу.</li>

</ul>
</div>
<hr>
{% endblock content %}