{% extends "index.html" %}
{% block seo %}
<title>Техническое обслуживание и установка оборудования для автосервиса.</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Сервисная служба компании Вортейл Технолоджи  осуществляет  гарантийное и постгарантийное обслуживания автосервисного оборудования,а так же пусконаладочные работы.">
{% endblock seo %}
{% load static %}

{% block content %}
<div class="service">
<h1 id="service_header">Услуги</h1>
<br>
<h4>Поставка оборудования</h4>
<br>
<img src="{% static 'images/delivery.jpg' %}" alt="" style="height:220px;width:auto" >
<br>
<p>Компания "Вортейл Технолоджи"  предлагает оснащение СТО, шиномонтажей, автосервисов, автомоек оборудованием "под ключ",<br> включая предварительный проект в компьютерном виде, поставку, монтаж, гарантийное обслуживание и последующее сервисное обслуживание.</p>
<br>
<h4>Монтаж оборудования</h4>
<br>
<img src="{% static 'images/montaj.jpg' %}" alt="" style="height:220px;width:auto" >
<br>
<p>Техническая группа "Вортейл Технолоджи" произведёт качественный монтаж и пуско-наладочные работы подъёмников, стендов развал-схождения, окрасочно-сушильных камер и шиномонтажного оборудования.<br> В гарантийных вопросах действует, в первую очередь, в интересах клиента используя незамедлительный принцип решения гарантийного случая.
</p>
<br>
<h4>Техническое обслуживание</h4>
<br>
<img src="{% static 'images/tech_supp.jpg' %}" alt="" style="height:220px;width:auto" >
<p>Техническая группа "Вортейл Технолоджи"  рекомендует проводить обслуживание <br>оборудования с целью уменьшения риска внезапного выхода из строя и сокращения издержек вызванных простоем.</p>
<br>
<p>Что мы предлагаем:</p>
<ul>
    <li>плановое техническое обслуживание ;</li>
    <li>текущий и срочный ремонт оборудования любой сложности, в кратчайшие сроки;</li>
    <li>имеем собственную производственную базу.</li>

</ul>

</div>
{% endblock content %}